<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleAlteracoesChamada.css' />
    <title>ALTERAÇÕES CHAMADOS</title>

</head>

<body>

    <%- include('../padraoSuperior'); %>


        <div class="fundoPagina">

            <div class="fundoPaginaScroll">
                <ul class="ulListaChamados">

                    <button type="submit" class="liBotao">
                        <ul class="ulTextos">
                            <input type="text" hidden="no" value="O id do chamado">
                            <li class="textoChamado"> <label class="labelTextoChamado">Alteração 1 </label></li>
                            <li class="textoPrioridade"><label class="labelTextoChamado">PRIORIDADE:
                                    <label class="labelPrioridadeAlta">
                                        ALTA
                                    </label>

                                </label></li>
                            <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000
                                </label></li>
                        </ul>
                    </button>
                  

                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado ">Alteração 2 </label>
                                </li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado ">PRIORIDADE:
                                        <label class="labelPrioridadeMedia">MÉDIA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>


                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado">Alteração 3 </label></li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado">PRIORIDADE:
                                        <label class="labelPrioridadeBaixa">BAIXA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>


                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado">Alteração 4 </label></li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado">PRIORIDADE:
                                        <label class="labelPrioridadeNaoDefinida">NÃO DEFINIDA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>

                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado ">Alteração 5 </label>
                                </li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado ">PRIORIDADE:
                                        <label class="labelPrioridadeMedia">MÉDIA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>

                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado">Alteração 6 </label></li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado">PRIORIDADE:
                                        <label class="labelPrioridadeNaoDefinida">NÃO DEFINIDA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>

                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado">Alteração 7 </label></li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado">PRIORIDADE:
                                        <label class="labelPrioridadeNaoDefinida">NÃO DEFINIDA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>

                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado">Alteração 8 </label></li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado">PRIORIDADE:
                                        <label class="labelPrioridadeNaoDefinida">NÃO DEFINIDA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>

                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado">Alteração9 </label></li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado">PRIORIDADE:
                                        <label class="labelPrioridadeNaoDefinida">NÃO DEFINIDA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>

                        <button type="submit" class="liBotao">
                            <ul class="ulTextos">
                                <li class="textoChamado"> <label class="labelTextoChamado">Alteração 10 </label>
                                </li>
                                <li class="textoPrioridade"> <label class="labelTextoChamado">PRIORIDADE:
                                        <label class="labelPrioridadeNaoDefinida">NÃO DEFINIDA</label>
                                    </label></li>
                                <li class="textoData"> <label class="labelTextoChamado">Data: 00/00/0000</label>
                                </li>
                            </ul>
                        </button>


                </ul>
            </div>

            <button class="botao botaoVoltar" id="botaoVoltar">Voltar</button>

        </div>


</body>

</html>