<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleCadastroGerentePontoAviso.css' />
    <title>CONFIRMAÇÃO CADASTRO</title>
</head>
<body>
    <%- include('../padraoSuperior'); %>

    <div class="fundoPagina">


<div class="divAviso">
    <label class="label labelAviso"> AVISO!</label>
    <label class="labelTexto"> Esta é uma ação IRREVERSÍVEL que irá excluir o gerente atual, cadastrando o novo. Deseja Continuar?</label>
</div>
        <button class="botao botaoVoltar" id="botaoVoltar">Voltar</button>
        <button class="botao botaoSim" id="botaoSimr">Sim</button>
</div>
    
</body>
</html>