<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleCadastroGerentePontoSucesso.css' />
   <title>CONFIRMAÇÃO CADASTRO</title>
</head>
<body>

    <%- include('../padraoSuperior'); %>
        <div class="fundoPagina">

            <label class="labelTexto" id="labelTexto"> Gerente de PONTO DE ATENÇÃO Cadastrado com SUCESSO!!</label>
        </div>

    
</body>
</html>