<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleDetalhesPonto.css' />
    <title>DETALHES PONTO</title>
</head>

<body>

    <%- include('../padraoSuperior'); %>

        <div class="fundoPaginaDetalhes">

            <div class="divConteudo">

           <div class="divTitulo">   <label class="labelTitulo">ELIAS SEBBA</label></div>

                <div class="linhaHorizontal"></div>

                <label class="labelDetalhes labelEndereco"> Endereço:</label>
                <div class="divInputFixoDetalhes divEndereco"><label class="labelTextoDentroInputFixoDetalhes">Rua das flores Quadra 01 Lote 10 Residencial Maria jardim</label></div>

                <div class="linhaHorizontal2"></div>

                <label class="labelDetalhes labelGerentes"> Gerentes:</label>

                <div class="linhaVertical"></div>

                <label class="labelDetalhes labelOdonto"> Odontologia:</label>
                <label class="labelDetalhes labelNomeOdonto"> Nome:</label>
                <div class="divInputFixoDetalhes divTextoNomeOdonto"><label class="labelTextoDentroInputFixoDetalhes">João Neto
                        Pereira Gregorio</label></div>

                <label class="labelDetalhes labelCpfOdonto"> CPF:</label>
                <div class="divInputFixoDetalhes divTextoCpfOdonto"><label
                        class="labelTextoDentroInputFixoDetalhes">123.456.789-11</label></div>



                <label class="labelDetalhes labelEnf"> Enf. Chefe:</label>


                <label class="labelDetalhes labelNomeEnf"> Nome:</label>
                <div class="divInputFixoDetalhes divTextoNomeEnf"><label class="labelTextoDentroInputFixoDetalhes">João Neto
                        Pereira Gregorio</label></div>

                <label class="labelDetalhes labelCpfEnf"> CPF:</label>
                <div class="divInputFixoDetalhes divTextoCpfEnf"><label
                        class="labelTextoDentroInputFixoDetalhes">123.456.789-11</label></div>


                

            </div>
            <button class="botao botaoVoltar" id="botaoVoltar">Voltar</button>
            <button class="botao botaoInativar" id="botaoInativar">Inativar</button>
        </div>
        </div>

</body>

</html>