<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleDetalhesChamado.css' />
    <title>DETALHES CHAMADO</title>
</head>

<body>

    <%- include('../padraoSuperior'); %>
    <button type="submit" class="botao botaoAlteracoes">Alterações</button>

        <div class="fundoPaginaDinamicaBorda">

            <div class="divTituloChamado">

                <label class="labelTituloChamado">Chamado 1</label>
            </div>

            <div class="linhaSeparacao"></div>

            <label class="labelDadosSolicitante"> Dados do Solicitante:</label>

            <label class="labelInputFixo labelNome">Nome:</label>
            <div class="divInputFixo divTextoNome"><label class="labelTextoDentroInputFixo">João Neto Pereira Gregorio</label></div>

            <label class="labelInputFixo labelTelefone">Telefone:</label>
            <div class="divInputFixo divTextoTelefone"><label class="labelTextoDentroInputFixo">62991503641</label></div>

            <div class="linhaSeparacao2"></div>

            <label class="labelInputFixo labelDataSolicitacao">Data da Solicitação:</label>
            <div class="divInputFixo divTextoDataSolicitacao"><label class="labelTextoDentroInputFixo">00/00/0000</label></div>

            <label class="labelInputFixo labelPrioridade">Prioridade:</label>
            <div class="divInputFixo divTextoPrioridade"><label class="labelTextoDentroInputFixo">Não Definida</label></div>

            <label class="labelInputFixo labelDataPrevista">Data Prevista:</label>
            <div class="divInputFixo divTextoDataPrevista"><label class="labelTextoDentroInputFixo">00/00/0000</label></div>

            <label class="labelInputFixo labelDataFinalizacao">Data Finalização:</label>
            <div class="divInputFixo divTextoDataFinalizacao"><label class="labelTextoDentroInputFixo">00/00/0000</label></div>

            <label class="labelInputFixo labelDepartamento">Departamento <br> Responsável:</label>
            <div class="divInputFixo divTextoDepartamento"><label class="labelTextoDentroInputFixo">T.I.</label></div>

            <label class="labelInputFixo labelPatrimonio">Número Patrimônio:</label>
            <div class="divInputFixo divTextoPatrimonio"><label class="labelTextoDentroInputFixo">1000000000</label></div>

            <label class="labelInputFixo labelStatus">Status:</label>
            <div class="divInputFixo divTextoStatus"><label class="labelTextoDentroInputFixo">Não Processado</label></div>

            <label class="labelInputFixo labelObs">Observação:</label>
            <div class=" divTextoObs"><label class="labelTextoDentroInputFixo">aaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaa Chamada não realizada devido a falta de material necessaria para a manutenção</label></div>

            <button type="submit" class="botao botaoVoltar">Voltar</button>
        </div>
        

</body>

</html>