<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleListaPonto.css' />
    <title>PONTOS DE ATENÇÃO</title>

</head>

<body>

    <%- include('../padraoSuperior'); %>


        <div class="fundoPagina">

            <div class="fundoPaginaScroll">
                <ul class="ulListaPonto">

                    <button type="submit" class="liBotao">
                        <ul class="ulTextos">
                            <input type="text" hidden="no" value="O id do Ponto">
                            <li class="textoPonto"> <label class="labelTextoPonto">JARDIM SUÍÇO </label></li>
                            
                        </ul>
                    </button>

                    <button type="submit" class="liBotao">
                        <ul class="ulTextos">
                            <input type="text" hidden="no" value="O id do Ponto">
                            <li class="textoPonto"> <label class="labelTextoPonto">ELIAS SEBBA </label></li>
                            
                        </ul>
                    </button>

                    <button type="submit" class="liBotao">
                        <ul class="ulTextos">
                            <input type="text" hidden="no" value="O id do Ponto">
                            <li class="textoPonto"> <label class="labelTextoPonto">JOVIANO LOBO </label></li>
                            
                        </ul>
                    </button>

                    <button type="submit" class="liBotao">
                        <ul class="ulTextos">
                            <input type="text" hidden="no" value="O id do Ponto">
                            <li class="textoPonto"> <label class="labelTextoPonto">VILA MULTIRÃO </label></li>
                            
                        </ul>
                    </button>
                  

                       


                </ul>
            </div>

            <button class="botao botaoVoltar" id="botaoVoltar">Voltar</button>

        </div>


</body>

</html>