<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleMenu.css' />
    <title>MENU</title>
</head>
<body>

    <%- include('../padraoSuperior'); %>
        <div class="fundoPagina">

            <div class=" divBotaoGerenciaPontoAtencao">
                
                <input type="submit" class="botaoGerenciaPontoAtencao" name="botaoGerenciaPontoAtencao" id="botaoGerenciaPontoAtencao" value="GERÊNCIA PONTO DE ATENÇÃO">
            </div>

            <div class=" divBotaoGerenciaDepartamento">
                
                <input type="submit" class="botaoGerenciaDepartamento" name="botaoGerenciaDepartamento" id="botaoGerenciaDepartamento" value="GERÊNCIA DEPARTAMENTO">
            </div>

            <div class=" divBotaoListaPontoAtencao">
                
                <input type="submit" class="botaoListaPontoAtencao" name="botaoListaPontoAtencao" id="botaoListaPontoAtencao" value="LISTA PONTOS DE ATENÇÃO">
            </div>

            <div class=" divBotaoListaPontoAtencao">
                
                <input type="submit" class="botaoListaPontoAtencao" name="botaoListaPontoAtencao" id="botaoListaPontoAtencao" value="LISTA PONTOS DE ATENÇÃO">
            </div>

            <div class=" divBotaoChamadas">
                
                <input type="submit" class="botaoChamadas" name="botaoChamadas" id="botaoChamadas" value="CHAMADAS">
            </div>

            <button class="botao botaoSair" id="botaoSair" name="botaoSair" >Sair</button>

            
        </div>
    
</body>
</html>