<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleMenuAcaoDepartamento.css' />
    <title>MENU DEPARTAMENTO</title>

</head>

<body>
    <%- include('../padraoSuperior'); %>
        <div class="fundoPagina">

            <div class=" divBotaoGerentesAtuais">
                
                <input type="submit" class="botaoGerentesAtuais" name="botaoGerentesAtuais" id="botaoGerentesAtuais" value="GERENTES ATUAIS">
            </div>

            <div class=" divBotaoCadastro">
                
                <input type="submit" class="botaoCadastro" name="botaoCadastro" id="botaoCadastro" value="CADASTRO GERENTE DEPARTAMENTO">
            </div>

            <button class="botao botaoVoltar" id="botaoVoltar" name="botaoVoltar" >Voltar</button>

            
        </div>


</body>

</html>