<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/telasAdmGeral/styleMenuAcaoGerentePontoAtencao.css' />
    <title>MENU GERENTE PONTO ATENÇÃO</title>

</head>

<body>
    <%- include('../padraoSuperior'); %>
        <div class="fundoPagina">

            <div class=" divBotaoModificar">
                
                <input type="submit" class="botaoModificar" name="botaoModificar" id="botaoModificar" value="MODIFICAR GERENTE DE PONTO DE ATENÇÃO">
            </div>

            <div class=" divBotaoCadastro">
                
                <input type="submit" class="botaoCadastro" name="botaoCadastro" id="botaoCadastro" value="CADASTRO GERENTE DE PONTO DE ATENÇÃO">
            </div>

            <button class="botao botaoVoltar" id="botaoVoltar" name="botaoVoltar" >Voltar</button>

            
        </div>


</body>

</html>